.form-container {
  display: inline-block;
  width: 350px;
  vertical-align: top;
}

.form-container form {
    display: none;
    border: 1px solid #ccc;
    padding: 5%;
}
.form-container form.active {display: inline-block;}

.form-container label {display: inline-block;}

.form-container .form-group {
    padding: 0 1%;
}

.form-container .form-group.textarea {
/*     width: 100%; */
}

.secondary-info {display: none;}

#Main_Nav {
  display: inline-block;
}

#D_Frame {
  width: 950px;
  display: inline-block;
  position: absolute;
  height: 100%;
  background-color: lightblue;
  overflow: auto;
  background-image: url('../imx/loading.gif');
  background-repeat: no-repeat;
  background-position: center 10%;      
}

#D_Frame *:not(iframe) {
  width: auto !important;
  background-color: #fff !important;
}

#D_Frame iframe {
    height: 100%;
}

#D_Frame #page_left_column,
#D_Frame #page_header,
#D_Frame .printLogo,
#D_Frame .ImageBreadcrumbContainer {
    display: none;
}

#D_Frame .classInfo {
  display: inline-block;
  height: 150px;
  vertical-align: top;
  margin: 10px;
  border: 1px solid #ccc;
}

#D_Frame .content {padding: 0 5%;}

.loading {
  background-image: url('../imx/loading.gif');
  background-repeat: no-repeat;
  background-position: center 10%;    
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  position: absolute;
  height: 100%;
  width: 100%;
}